<template>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<ul class="list-group">
				<li class="list-group-item" v-for="server in servers">
					<server-info :server="server" @selected="changeSelected(server)"></server-info>
				</li>
			</ul>
		</div>
		<app-server-details :display="selected"></app-server-details>
	</div>
</template>

<script>
    import ServerDetails from './ServerDetails.vue';
	import ServerInfo from './Servers.vue';

    export default {
		components: {
			'server-info': ServerInfo,
			'app-server-details': ServerDetails,
		},
		data() {
			/* NOTE: the servers format was explained in the video, but
			   added in the Servers.vue; I belive it makes more sense to
			   be present in the main file and then passed as a prop */
			return {
				servers: [
					{ id: 1, status: 'normal' },
					{ id: 2, status: 'critical' },
					{ id: 3, status: 'unknown' },
					{ id: 4, status: 'normal' }
				],
				selected: ''
			}
		},
		methods: {
			changeSelected(selected) {
				console.log('New selected: ', selected);
				this.selected = selected;
			}
		}
	}
</script>
