<template>
    <div class="col-xs-12 col-sm-6">
		<div v-show="display">
			<p>Server ID: {{ display.id }}</p>
			<p>Server status: {{ display.status }}</p>
		</div>
		<div v-show="!display">
			No server currently selected.
		</div>
    </div>

</template>

<script>
	export default {
		props: ['display'],
	}
</script>

<style>

</style>
