<template>
	<div @click="selectMe()">
		Server #{{ server.id }}
	</div>
</template>

<script>
	export default {
		props: ['server'],
		methods: {
			selectMe() {
				this.$emit('selected', this.server);
			}
		}
	};
</script>

<style>

</style>
