<template>
    <div class="container">
        <app-header></app-header>
        <hr>
		<div class="row">
			<server-manager></server-manager>
        </div>
        <hr>
        <app-footer></app-footer>
    </div>
</template>

<script>
    import Header from './components/Shared/Header.vue';
    import Footer from './components/Shared/Footer.vue';
	import ServerManager from './components/Server/ServerManager.vue';

	export default {
        components: {
            appHeader: Header,
            ServerManager,
            'app-footer': Footer
		}
    };
</script>

<style>

</style>
