<template>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<header>
					<h1>server status</h1>
				</header>
			</div>
		</div>
		<hr>
		<server-list :serverlist="servers"></server-list>
	</div>
</template>

<script>
import serverlist from './servers.vue';

export default {
	data() {
		return {
			servers: ['1', '2', '3', '4', '5']
			// note: the idea is to "expand" the server information;
			//       so far, it has only its name, but in the future,
			//       it could be an object with several information
		}
	},
	'components': {
		'server-list': serverlist
	}
}
</script>

<style>

</style>
