<template lang="html">
	<div class="serverInfo">
		<div class="row">
			<!-- NOTE: this is the "server list" part of the component -->
			<div class="col-xs-12 col-sm-6">
				<ul class="list-group">
					<li class="list-group-item" v-for="server in serverList">
						<server-info :server="server"></server-info>
					</li>
				</ul>
			</div>

			<div class="col-xs-12 col-sm-6">
				<!-- NOTE: this will be the "server detail" part of the component -->
				<p>Server Details are currently not updated</p>
			</div>
		</div>
	</div>
</template>

<script>
	import ServerInfo from './serverinfo.vue';

	export default {
		props: ['serverList'],
		components: {
			'server-info': ServerInfo
		}
	}
</script>

<style lang="css">
</style>
