<template>
	<!-- NOTE: At this point, there isn't much information about a server,
	     just its "name" -->
	<span>
		Server: {{ server }}
	</span>
</template>

<script>
export default {
	props: ['server']
}
</script>
