<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <br>
                <button class="btn btn-primary" @click="currentTemplate = 'app-blue'">Load Blue Template</button>
                <button class="btn btn-success" @click="currentTemplate = 'app-green'">Load Green Template</button>
                <button class="btn btn-danger" @click="currentTemplate = 'app-red'">Load Red Template</button>
                <hr>
                <component :is="currentTemplate">This is {{ currentTemplate }}</component>
            </div>
        </div>
    </div>
</template>

<script>
    import Blue from './components/Blue.vue';
    import Green from './components/Green.vue';
    import Red from './components/Red.vue';

    export default {
        components: {
            appBlue: Blue,
            appGreen: Green,
            appRed: Red
        },
        data() {
            return {
                currentTemplate: 'app-blue'
            }
        }
    }
</script>

<style>
</style>
