<template>
	<div class="row">
		<div class="col-xs-6">
			<input
				class="form-control"
				type="text"
				value=""
				name=""
				id=""
				v-model="localFirstName"
				/>
		</div>
		<div class="col-xs-6">
			<input
				class="form-control"
				type="text"
				value=""
				name=""
				id=""
				v-model="localLastName"
				/>
		</div>
	</div>
</template>

<script>
	export default {
		props: ['firstName', 'lastName'],
		data() {
			return {
				localFirstName: this.firstName,
				localLastName: this.lastName
			}
		},
		watch: {
			localFirstName(val, oldVal) {
				// console.log('First name updated to ', val);
				this.$emit('updateFirstName', val);
			},
			localLastName(val, oldVal) {
				// console.log('Last name updated to ', val);
				this.$emit('updateLastName', val);
			}
		}
	}
</script>
