<template>
    <div class="container">
        <form>
            <div class="row" v-show="!formComplete">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <!-- Exercise 1 -->
                    <!-- Create a Signup Form where you retrieve the following Information -->
                    <!-- Full Name (First Name + Last Name) -->
                    <!-- Mail -->
                    <!-- Password -->
                    <!-- Store Data? Yes/No -->
					<div class="form-group">
						<label for="firstName">Name</label>
						<app-fullname :firstName="user.firstName"
							          :lastName="user.lastName"
									  @updateFirstName="newFirstName"
									  @updateLastName="newLastName">
						</app-fullname>

                        <!-- NOTE: trying '@updateFirstName="firstName = $event.target.value"'
                             or '@updateFirstName="firstName = $event.value"' doesn't work -->
					</div>

					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" name="email" value="" id="email" v-model="user.email" class='form-control'>
					</div>

					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" name="password" value="" id="password" v-model="user.password" class='form-control'>
					</div>

					<div class="checkbox">
						<label>
							<input type="checkbox" name="storeInDatabase" value="" id="storeInDatabase" v-model="user.storeInDatabase">
							Store in database?
						</label>
					</div>

					<button class="btn btn-default" @click.prevent="submitForm">Submit</button>

                    <!-- Exercise 2 -->
                    <!-- Only display the Form if it has NOT been submitted -->
                    <!-- Display the Data Summary ONCE the Form HAS been submitted -->
					<!-- NOTE: done, it's the v-show stuff -->

                    <!-- Exercise 3 -->
                    <!-- Edit the Example from above and create a custom "Full Name" Control -->
                    <!-- which still holds the First Name and Last Name Input Field -->
                </div>
            </div>
        </form>
        <div class="row" v-show="formComplete">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Your Data</h4>
                    </div>
                    <div class="panel-body">
						<p>Full Name: {{ user.firstName }} {{ user.lastName }}</p>
						<p>Mail: {{ user.email }}</p>
						<p>Password: {{ user.password }}</p>
						<p>Store in Database?: {{ user.storeInDatabase }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
	import FullName from './components/FullName.vue';

    export default {
		components: {
			appFullname: FullName
		},
		data() {
			return {
				user: {
					firstName: '1',
					lastName: '2',
					email: '',
					password: '',
					storeInDatabase: false
				},
				formComplete: false
			}
		},
		methods: {
			submitForm() {
				this.formComplete = true;
			},
            newFirstName(value) {
                console.log('New first name = ', value);
                this.user.firstName = value;
            },
            newLastName(value) {
                console.log('New last name = ', value);
                this.user.lastName = value;
            }
		}
    }
</script>

<style>
</style>
