<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Filters &amp; Mixins</h1>
                <!-- Exercise 1) -->
                <!-- Build a local Filter which reverses the Text it is applied on -->
                <h2>Local Filter</h2>
                {{ "this is a string " | reverse }}

                <!-- Exercise 2 -->
                <!-- Build a global Filter which counts the length of a word and it appends it -->
                <!-- Like this: "Test" => Gets Filtered to => "Test (4)" -->
                <h2>Global filter</h2>
                {{ "Test" | char-count }}

                <!-- Exercise 3 -->
                <!-- Do the same as in Exercises 1 & 2, now with Computed Properties -->
                <h2>Computed properties</h2>
                {{ reversedString }}

                <!-- Exercise 4 -->
                <!-- Share the Computed Property rebuilding Exercise 2 via a Mixin -->
                <h2>Global mixing</h2>
                {{ reversedText }}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                content: 'This is a normal string'
            }
        },
        filters: {
            reverse(value) {
                return value.split('').reverse().join('');
            }
        },
        computed: {
            reversedString() {
                return this.content.split('').reverse().join('') + ' (' +
                       this.content.length + ')';
            }
        }
    }
</script>

<style>
</style>
